<html>
<head> <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> </head>
<body>
<h3>Manage your day trading account</h3>

<form action = "http://localhost:5000/success" method = "POST">
    <div class="form-group">
        <label for="userCommands" class="col-form-label">What command would you like to perform</label>
        <select class="form-control" id="userCommands">
            <option>ADD</option>
            <option>QUOTE</option>
            <option>BUY</option>
            <option>COMMIT_BUY</option>
            <option>CANCEL_BUY</option>
            <option>SELL</option>
            <option>COMMIT_SELL</option>
            <option>CANCEL_SELL</option>
            <option>SET_BUY_AMOUNT</option>
            <option>CANCEL_SET_BUY</option>
            <option>SET_BUY_TRIGGER</option>
            <option>SET_SELL_AMOUNT</option>
            <option>SET_SELL_TRIGGER</option>
            <option>CANCEL_SET_SELL</option>
            <option>DISPLAY_SUMMARY</option>
        </select>
    </div>
    <div class="form-group">
        <label for="userID" class="col-form-label">Enter User ID</label>
        <input class="form-control" id="userID" placeholder="User ID">
    </div>
    <div class="form-group">
    <label for="stockSymbol" class="col-form-label">Enter Stock Symbol (three letter form only)</label>
    <input class="form-control" id="stockSymbol" placeholder="XYZ">
    </div>
    <div class="form-group">
    <label for="amount" class="col-form-label">Enter the amount, please include cents</label>
    <input class="form-control" id="amount" placeholder="100.00">
    </div>
    <div class="form-group row" >
        <div class="col-form-label">
            <button type="submit" class="btn btn-primary">Submit command request</button>
        </div>
    </div>
</form>

</body>
</html>
