{% import "bootstrap/wtf.html" as wtf %}

{% extends "template.html" %}

{% block styles %}
{{ super() }}
<style>
    body { background: #e8f1f9; }
</style>
{% endblock %}


{% block title %}
Day Trading - Overview
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h2>Welcome {{ current_user.id }}!</h2>

            {% if message %}
            <div style="padding-top: 20px;">
                <div class="alert alert-info" role="alert">
                    {{message}}
                </div>
            </div>
            {% endif %}

            <br>
            <h4>Deposit</h4>
            <form action="{{ url_for('add_api') }}" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.amount.label }}<br>
                    ${{ form.amount() }}<br>
                    {% for error in form.amount.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>

            <h4>Account Summary</h4>
            {% if account_summary %}
            <p>
                Account Balance: ${{ account_summary['account'] }}<br>
                Available Funds: ${{ account_summary['available'] }}<br>
            </p>

            <p class="lead">Stocks</p>
            {% if account_summary['stocks']|length > 0 %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Available</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in account_summary['stocks'] %}
		<tr>
                    <th scope="row">{{ stock['symbol'] }}</th>
                    <td>{{ stock['amount'] }}</td>
                    <td>{{ stock['available'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No stocks have been purchased.</p>
            {% endif %}


            <p class="lead">Auto Buy Transactions</p>
            {% if account_summary['auto_buy']|length > 0 %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Trigger ($)</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in account_summary['auto_buy'] %}
                <tr>
                    <th scope="row">{{ stock['symbol'] }}</th>
                    <td>{{ stock['amount'] }}</td>
                    <td>{{ stock['trigger'] }}</td>
		</tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No automatic buy transactions have been setup.</p>
            {% endif %}


            <p class="lead">Auto Sell Transactions</p>
            {% if account_summary['auto_sell']|length > 0 %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Trigger ($)</th>
                </tr>
                </thead>
                <tbody>
                {% for stock in account_summary['auto_sell'] %}
                <tr>
                    <th scope="row">{{ stock['symbol'] }}</th>
                    <td>{{ stock['amount'] }}</td>
                    <td>{{ stock['trigger'] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No automatic sell transactions have been setup.</p>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}
