{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
    body { background: #e8f1f9; }
</style>
{% endblock %}


{% block title %}
Day Trading App
{% endblock %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            {% if message %}
                <div style="padding-top: 20px;">
                    <div class="alert alert-info" role="alert">
                         {{message}}
                    </div>
                </div>
            {% endif %}

            <h1 class="pt-5 pb-2">Day Trading!</h1>

            <p class="lead">Manage your day trading account here</p>

            {{ wtf.quick_form(form) }}

            <script>
                document.getElementById("userCommand").addEventListener("change", updateRequiredFields);

                var needsStockSymbol = {QUOTE: true, BUY: true, SELL: true, SET_BUY_AMOUNT: true, CANCEL_SET_BUY: true, SET_BUY_TRIGGER: true, SET_SELL_AMOUNT: true, SET_SELL_TRIGGER: true, CANCEL_SET_SELL: true};
                var needsAmount = {ADD: true, BUY: true, SELL: true, SET_BUY_AMOUNT: true, SET_SELL_AMOUNT: true, SET_BUY_TRIGGER: true, SET_SElL_TRIGGER: true};

                function updateRequiredFields() {
                    var command = document.getElementById("userCommand").value;

                    document.getElementById('stock_symbol').disabled = !(command in needsStockSymbol);
                    document.getElementById('funds').disabled = !(command in needsAmount);
                }
            </script>

        </div>
    </div>
</div>

{% endblock %}
