{% extends 'bootstrap/base.html' %}

{% block styles %}
{{ super() }}
<style>
    body { background: #e8f1f9; }
</style>
{% endblock %}


{% block title %}
Day Trading App
{% endblock %}


{% block content %}

<table border="1">
    {% for key,value in result.items() %}
        <tr>
            <th>
                {{key}}
            </th>
            <td>
                {{value}}
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}


<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Day Trading App
    </title>

    <!-- Bootstrap -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/fontawesome-all.min.css" rel="stylesheet">
    <style>
        body { background: #e8f1f9; }
    </style>

</head>
<body>



<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

            <h1 class="pt-5 pb-2">Day Trading!</h1>

            <p class="lead">Manage your day trading account here</p>


            <form action="" method="post"
                  class="form" role="form">
                <input id="csrf_token" name="csrf_token" type="hidden" value="IjU1Mzk1NjhjZTFjMTE5OTJkMTM4MTg5Yzk3YzJmNjZhYzg3MDU2NmMi.YC2Dew.PB7XuW1KdqeyiBRiVlBEB1KUkEM">








                <div class="form-group  required"><label class="form-control-label" for="userCommand">Choose an action you want to perform</label>

                    <select class="form-control" id="userCommand" name="command" required><option value="ADD">ADD</option><option value="QUOTE">QUOTE</option><option value="BUY">BUY</option><option value="COMMIT_BUY">COMMIT_BUY</option><option value="CANCEL_BUY">CANCEL_BUY</option><option value="SELL">SELL</option><option value="COMMIT_SELL">COMMIT_SELL</option><option value="CANCEL_SELL">CANCEL_SELL</option><option value="SET_BUY_AMOUNT">SET_BUY_AMOUNT</option><option value="CANCEL_SET_BUY">CANCEL_SET_BUY</option><option value="SET_BUY_TRIGGER">SET_BUY_TRIGGER</option><option value="SET_SELL_AMOUNT">SET_SELL_AMOUNT</option><option value="SET_SELL_TRIGGER">SET_SELL_TRIGGER</option><option value="CANCEL_SET_SELL">CANCEL_SET_SELL</option><option value="DISPLAY_SUMMARY">DISPLAY_SUMMARY</option></select>

                </div>









                <div class="form-group  required"><label class="form-control-label" for="user_id">What is your user id?</label>

                    <input class="form-control" id="user_id" name="userId" required type="text" value="">

                </div>







                <div class="form-group "><label class="form-control-label" for="stock_symbol">What stock do you want to trade?</label>

                    <input class="form-control" id="stock_symbol" name="stockSymbol" type="text" value="">

                </div>


                <div class="form-group "><label class="form-control-label" for="funds">Enter the amount of money you want to trade for (Please include cents)</label>

                    <input class="form-control" id="funds" name="amount" type="text" value="">

                </div>














                <input class="btn btn-primary" id="submit" name="submit" type="submit" value="Submit">


                <script>
                    command_select = document.getElementById('command');
                    command_select.onchange = function () {
                        document.getElementById('stockSymbol').disabled = fetch('/stockSymbol/' + command_select).then(function (response) {
                            return response
                        });
                    }
                </script>




            </form>



            <p class="pt-5"><strong>INVALIDDDD</strong></p>

        </div>
    </div>
</div>




<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
